.button {
  max-width: 120px;
  padding: 10px;
  border-radius: 4px;
  border: 2px solid var(--my-yellow);
  background-color: var(--my-blue);
  color: white;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
}

.button:hover {
  background-color: var(--my-yellow);
  transition: 300ms;
}

@media screen and (max-width: 425px) {
  .button {
    display: none;
  }
}
