:root {
  --my-gray: #e5e5e5;
  --my-yellow: #fca311;
  --my-blue: #14213d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
